{{>productForm}}

<div class="d-flex flex-column justify-content-center" id="realTimeProducts">
  <div class="d-flex mx-auto row justify-content-center">
  {{>productCards}}
  </div>

  <div class="d-flex justify-content-center mx-auto gap-2 p-3">

          {{#if prevLink}}
              <a href={{prevLink}} class="btn btn-primary">Anterior</a>
          {{/if}}

          {{#if nextLink}}
              <a href={{nextLink}} class="btn btn-primary">Siguiente</a>
          {{/if}}
  </div>
</div>